h1 { 
    display: flex;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
}

section{
    height: 200px;
    flex: 1 1 200px;
}

.section-1 {
    background: purple;
}
.section-2 {
    background: red;
    flex: 1 5 200px;
}
.section-3 {
    background: turquoise;
}
